<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Consultoria en Gestion de Riesgo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link rel="stylesheet" type="text/css" href="../css/riivera.css"/>
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
	<!-- Menu1 -->
		<div class="navbar navbar-inverse pdd1 navbar-fixed-top" role="navigation" id="pdd00">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr scroll" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
				</div>
			</div>
			<div class="navbar-collapse collapse pdb2" >
				<ul class="nav navbar-nav">
				<li><a href="../index.html">Inicio</a></li>
					<li><a href="Nosotros.html">Nosotros</a></li>
					<li class="dropdown">
						<a href="#" class="active">Soluciones</a> 
						<div class="dropdown-content">
							<a href="Servicios de DataCenter.html">Servicios de DataCenter</a>
							<a href="Outsourcing.html">Outsourcing de IT</a>
							<a href="Seguridad de la Red.html">Seguridad de la Red</a>
						</div>
					</li>
					<li> <a href="Noticias.html">Noticias</a></li>
					<li><a href="#contactscroll" class="scroll">Contacto</a> </li>
				</ul>
			</div>
		</div>
	<!-- Fin-Menu1 -->
	<!-- Menu2 -->
		<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
			</div>
			<div class="collapse navbar-collapse pdd3" id="nav-main">
				<ul class="nav navbar-nav">
					<a href="../index.html"><li>Inicio</li></a>
					<a href="Nosotros.html"><li>Nosotros</li></a>
					<a href="Servicios de DataCenter.html"><li>Servicios de DataCenter</li></a>
					<a href="Outsourcing.html"><li> Outsourcing de IT</li></a>
					<a href="Seguridad de la Red.html"><li>Seguridad de la Red</li></a>
					<a href="Noticias.html"><li> Noticias</li></a>
					<a href="#contactscroll" class="scroll"><li>Contacto</li></a> 
				</ul>
			</div>
		</div>
<!-- Fin-Menu2 -->
<!--Seccion1-StartPortada-->
<header class="portada">
	<section class="imgportadaconsult w100">
		<article class="infoportada w100">
			<div class="titulocompany">
				<h3>Consultoría en Gestión <br>de Riesgo</h3>
				<br>
				<p><a href="#operativo" class="scroll">Consultorías en Riesgo Operativo</a></p>
				<p><a href="#activos" class="scroll">Consultoría Para Clasificación de Activos de IT</a></p>
			</div>	
		</article>
	</section>
</header> 
<!--FinSeccion1-EndPortada-->
<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
			<div class="left-info-company">
				<div class="datosinfo">
					<div class="left-info-cuadro-rojo">
						<div class="cuadro-rojo" style="background: #ff9018">
							<p>Es importante para toda empresa mantenerse al día con las nuevas tendencias del mercado con respecto a la continuidad de su negocio. Es por esto que ofrecemos servicios de alta calidad enocados en consultoría.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<p>Ofrecemos consultorías profesionales en la gestión de riesgos de su empresa. La planificación, Administración y las certificaciones de la empresa son algunas de nuestras fortalezas.</p>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7" id="operativo">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
						<h3>Consultorías en Riesgo Operativo</h3>
						<br>
						<p>Diseñar y desarrollar el Plan de Recuperación ante Desastres (DRP) para la infraestructura tecnológica de información del cliente, que permita capacitarlo y habilitarlo para continuar las operaciones de sus procesos críticos, comprende:
						<br>
						<br>
						• Análisis de Riesgo.
						<br>
						• Revisa el estudio de Impacto al Negocio que posee el cliente (BIA) como insumo para el DRP.
						<br>
						• Desarrollar Plan de Recuperación ante Desastres.
						<br>
						• Desarrollar Modelo de Mantenimiento y Pruebas.
						<br>
						• Desarrollar Modelo de Gobierno.
						<br>
						• Taller General de Sensibilización y Formación.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema">
							<img src="../images/con-operativo.jpg">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion3-info -->
<!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="activos">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema">
    						<img src="../images/con-activos.jpg">
    					</div>
    				</div>
    			</div>
    		</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2">
    						<h3>Consultoría Para Clasificación de Activos de IT</h3>
    						<br>
    						<p>La Metodología contendrá los procedimientos para identificar, valorar y clasificar la información. En principio se deben establecer las dimensiones que permiten establecer:
    						<br>
    						<br>
    						• Clasificación de los activos - Catalogación.
    						<br>
    						• Riesgos de exposición de los activos.
    						<br>
    						• Nivel de resguardo.
    						<br>
    						• Políticas de Operación (Seguridad de Información).</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
<!--finSeccion4-info -->
	<section class="infoback w100" style="background: #e7e7e7">
		<article class="suggestions-title">
			<div class="moar">
				<h3>Otros Servicios</h3>
			</div>
		</article>
		<article class="suggestions-services w100">
			<div class="left-suggest">
				<div class="suggest1info">
					<h3>Servicios de DataCenter</h3>
					<br>
					<p>Gracias a nuestro avanzado <b>Metropolitan Data Center</b> podemos ofrecer lo mejor en servicios cloud, servidores virtuales, continuidad de negocio (DRP), custodia de medios y colocaci&oacute;n.</p>
				</div>
				<div class="botonmore">
					<a href="Servicios de DataCenter.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
			</div>
			<div class="right-suggest">
				<div class="suggest2info">
					<h3>Seguridad de la Red</h3>
					<br>
					<p>La era de la informaci&oacute;n ha llegado y es importante que usted proteja la suya. Somos expertos en <b>seguridad de la informaci&oacute;n</b> y le ayudamos a <b>analizar sus defensas para identificar amenazas y hacer un blindaje de su red</b>.</p>
				</div>
				<div class="botonmore">
					<a href="Seguridad de la Red.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
		</article>
	</section>

<!-- START-CONTACTO -->
	<div id="contactscroll" style="background:#e7e7e7; width:100%; padding:1.5%; float:left;"></div>
	<div id="contact" class="contact">
		<div class="container" id="contact1">
			<div class="contact-grids">
				<div class="col-md-8">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Cont&aacute;ctenos</h3>
						<label>No se puede predecir, se prepara.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>EL SALVADOR</h2>
									<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n, <br>San Salvador, El Salvador.
									<br> Tel: 2264-8442
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-right-grid">
									<p><span class="c-msg"> </span><a href="mailto:info@dataguardgroup.com">info@dataguardgroup.com</a></p>
									<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>GUATEMALA <br>
									4. Avenida 7-83, <br>
									Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
									Nivel, Ciudad de <br>Guatemala, Guatemala.
									</p>
								</div>
								<div class="col-md-3">
									<p>COSTA RICA<br>
									750 mts Oeste <br>
									Restaurante Tony <br>
									Romas Escazu, San Jose, Costa Rica.
									</p>
								</div>
								<div class="col-md-3">
									<p>NICARAGUA <br>
									Centro comercial <br>Managua <br>
									Modulo C-70, Managua, Nicaragua.
									</p>
								</div>
								<div class="col-md-3">
									<p>HONDURAS <br>
									Colonia Kennedy1 Avenida, 1 Calle, Zona 2, Bloque 13, Casa 3638, Grupo 16, Tegucigalpa , Honduras. Tel&eacute;fono: (504) 2229-7138
									M&oacute;vil: (504) 9512-3542
									</p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>USA <br>
									16444 SW 61 WAY
									Miami, FL 33193
									Tel: (305) 910-1614
									Fax:(305) 385-0513
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4  expertice-right-grid7  wow fadeInRight" id="close_right" data-wow-delay="0.4s">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="container" id="contact2">
			<div class="contact-grids">
				<div class="col-md-12">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Cont&aacute;ctenos</h3>
						<label>No se puede predecir, se prepara.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>EL SALVADOR</h2>
									<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n, <br>San Salvador, El Salvador
									<br>Tel: 2264-8442
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-right-grid">
									<p><span class="c-msg"> </span><a href="mailto:info@dataguardgroup.com">info@dataguardgroup.com</a></p>
									<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>GUATEMALA <br>
									4. Avenida 7-83, <br>
									Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
									Nivel. Cuidad de <br> Guatemala, Guatemala. 
									</p>
								</div>
								<div class="col-md-3">
									<p>COSTA RICA<br>
									750 mts Oeste <br>
									Restaurante Tony <br>
									Romas Escazu, <br> San Jose, Costa Rica.
									</p>
								</div>
								<div class="col-md-3">
									<p>NICARAGUA <br>
									Centro comercial <br>Managua <br>
									Modulo C-70, <br> Managua, Nicaragua.<br><br>
									</p>
								</div>
								<div class="col-md-3">
									<p>HONDURAS <br>
									Colonia Kennedy1 <br>Avenida, 1 Calle, Zona 2, <br> Bloque 13, Casa 3638, Grupo 16, <br> Tegucigalpa , Honduras. <br> Tel&eacute;fono: (504) 2229-7138
									<br> M&oacute;vil: (504) 9512-3542
									</p>
								</div>
								<div class="col-md-3">
									<p>USA <br>
									16444 SW 61 WAY <br>
									Miami, FL 33193 <br>
									Tel: (305) 910-1614 <br>
									Fax:(305) 385-0513 <br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="clearfix"> </div>
	</div>
<!--FOOTER-->
				<section class="finfooter w100" style="background: black; float: left;">
					<article class="infofooter w100">
						<div class="imgfooter">
							<br>

						</div>
						<p class="text-center w100"><a href="#">DataGuard Group - 2017</a></p>
					</article>
				</section>
				<!--- derechos_reservados_angel_cotto -->
				<div class="copy-right text-center">

					<script type="text/javascript">
						$(document).ready(function() {

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>
			<!-- End-Contacto -->	
       </body> 
</html>