<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Outsourcing de IT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
	<!-- Menu1 -->
		<div class="navbar navbar-inverse pdd1 navbar-fixed-top" role="navigation" id="pdd00">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr scroll" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
				</div>
			</div>
			<div class="navbar-collapse collapse pdb2" >
				<ul class="nav navbar-nav">
				<li><a href="../index.html">Inicio</a></li>
					<li><a href="Nosotros.html">Nosotros</a></li>
					<li class="dropdown">
						<a href="#" class="active">Soluciones</a> 
						<div class="dropdown-content">
							<a href="Servicios de DataCenter.html">Servicios de DataCenter</a>
							<a href="Seguridad de la Red.html">Seguridad de la Red</a>
							<a href="Consultoria de Gestion de Riesgo.html">Consultor&iacute;a en Gesti&oacute;n de Riesgo</a>
						</div>
					</li>
					<li> <a href="Noticias.html">Noticias</a></li>
					<li><a href="#contactscroll" class="scroll">Contacto</a> </li>
				</ul>
			</div>
		</div>
	<!-- Fin-Menu1 -->
	<!-- Menu2 -->
		<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
			</div>
			<div class="collapse navbar-collapse pdd3" id="nav-main">
				<ul class="nav navbar-nav">
					<a href="../index.html"><li>Inicio</li></a>
					<a href="Nosotros.html"><li>Nosotros</li></a>
					<a href="Servicios de DataCenter.html"><li>Servicios de DataCenter</li></a>
					<a href="Seguridad de la Red.html"><li>Seguridad de la Red</li></a>
					<a href="Consultoria de Gestion de Riesgo.html"><li>Consultor&iacute;a en Gesti&oacute;n de Riesgo</li></a>
					<a href="Noticias.html"><li>Noticias</li></a>
					<a href="#contactscroll" class="scroll"><li>Contacto</li></a> 
				</ul>
			</div>
		</div>
	<!-- Fin-Menu2 -->
	<!--Seccion1-StartPortada-->
	<header class="portada">
		<section class="imgportadaoutsourcing w100">
			<article class="infoportada w100">
				<div class="titulocompany">
					<h3>Outsourcing de IT</h3>
					<br>
					<p><a href="#staff" class="scroll">Staffing: Personal técnico en sitio </a></p>
					<p><a href="#multi" class="scroll">Soporte Técnico Multiplataforma</a></p>
					<p><a href="#monitoreo" class="scroll">Servicio de Monitoreo de Servidores y Redes</a></p>
					<p><a href="#seguridadadmin" class="scroll">Seguridad Administrada</a></p>
					<p><a href="#remediacion" class="scroll">Remediación de Vulnerabilidades y Eliminación de Malware</a></p>
				</div>	
			</article>
		</section>
	</header> 
	<!--FinSeccion1-EndPortada-->
	<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
		<div class="left-info-company">
			<div class="datosinfo">
				<div class="left-info-cuadro-rojo">
					<div class="cuadro-rojo" style="background: #ff9018">
						<p>DATAGUARD le proporciona al especialista que usted est&aacute; necesitando y el tiempo exacto que lo necesite, incluimos además un especialista en la modalidad de <q>backup</q> por si se necesita relevo temporal o permanente.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<p>Una de nuestras especialidades es el servicio de outsourcing que incluye staffing de personal t&eacute;cnico, soporte multiplataforma (SUN, IBM, HP, CISCO) y servicios administrados como el monitoreo.</p>
			</div>
		</div>
		</article>
	</section>
<!--finSeccion2-info -->
<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="staff">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
					<h3>Staffing de IT</h3>
					<br>
					<p>En un contexto de globalización y alta competitividad, las empresas deben concentrar sus recursos en su negocio principal. Staffing de IT es la dotación de personal, el vínculo entre “la persona idónea” y “la necesidad del cliente” en el área de Tecnologías de la Información o TI. DATAGUARD le provee la especialización que necesita su departamento de IT, proveyendo el recurso técnico especializado para su departamento o proyecto de IT.
					<br>
					<br>
					Nuestras áreas de especialización son, entre otras:
					<br>
					<br>
					• Especialistas en Microsoft Active Directory, Microsoft Exchange, Microsoft SharePoint
					<br>
					• Microsoft Platforms and Technologies
					<br>
					• Especialistas en Linux, IBM, AS400, HPUX, SUN SOLARIS
					<br>
					• Desarrolladores en JAVA, ORACLE y una amplia gama de tecnologías de desarrollo
					<br>
					• Project Management
					<br>
					• Networking, CCNA, CCNP
					<br>
					• Database Management and Migration
					<br>
					• Remediación, Escalabilidad, Desempeño y test de Estrés para el análisis y la seguridad de sus aplicaciones y su red institucional.
					<br>
					<br>
					Proceso de selección de personal: Busqueda, publicación de la oportunidad, recepción de candidatos, investigación, selección, contratación.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema-staff">
							<img src="../images/esquema-staff.png">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion3-info -->
<!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="multi">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema-multi">
    						<img src="../images/headhunting.jpg">
    					</div>
    				</div>
    			</div>
    			</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2">
    						<h3>Soporte Técnico Multiplataforma</h3>
    						<br>
    						<p>Proveemos soporte para hardware y software, a través de una oferta de servicios de mantenimiento flexible e innovadora. Mantenimiento preventivo y correctivo. Soporte a soluciones de fabricantes como Cisco, HP, SUN, IBM, DELL, a plataformas como AIX, HPUX, SOLARIS, MICROSOFT, ORACLE, VMware y más. Todo nuestro servicio bajo las mejores practicas de gestión, ITIL, ISO 27001.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
<!--finSeccion4-info -->
<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="monitoreo">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
					<h3>Servicio de Monitoreo de Servidores y Redes</h3>
					<br>
					<p>• Monitoreo 24x7x365
					<br>
					• Monitoreo de Rendimiento de Servidor (procesadores, discos duros, memoria RAM, Puertos de Red)
					<br>
					• Umbrales en espacio de arreglos de discos duros en RAID
					<br>
					• Comprobación de la copia de seguridad en cinta
					<br>
					• Gestión de parches Windows
					<br>
					• Comprobación de puertos TCP
					<br>
					• Alerta instantánea por email o SMS
					<br>
					• Reporte, Graficas y estadísticas
					<br>
					• Seguimiento de incidentes hasta su solución
					<br>
					• Establecimiento de políticas de monitoreo y alertas
					<br>
					<br>
					MONITOREO DE EQUIPOS ACTIVOS DE RED
					<br>
					• Monitoreo 24x7x365
					<br>
					• Monitoreo de conexión con el ISP
					<br>
					• Monitoreo de Ancho de Banda
					<br>
					• Alerta instantánea por email o SMS
					<br>
					• Comprobaciones SNMP
					<br>
					• Testeos PING sobre dispositivos de red incluyendo impresoras, enrutadores
					<br>
					• Bitácora de eventos</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema-staff">
							<img src="../images/esquema-staff.png">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion3-info -->
<!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="seguridadadmin">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema-segadmin">
    						<img src="../images/headhunting.jpg">
    					</div>
    				</div>
    			</div>
    			</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2">
    						<h3>Seguridad Administrada</h3>
    						<br>
    						<p>La Seguridad administrada o MSSP (Management Security Service Provider) permite realizar  todas las funciones que llevaría un SIEM en la organización pero con la fortaleza de un  SOC/NOC el cual cumplirá con los siguientes objetivos:
    							<br>
    							<br>
    							<b>1.</b>	Detectar las amenazas en cada punto de la cadena de ataque
    							<br>
    							<b>2.</b>	Investigar cada alerta para que nada se afecte
    							<br>
    							<b>3.</b>	Se obtiene evidencia forénsica para la investigación y remediación
    							<br>
    							<b>4.</b>	Rápida contención, erradicación y remediación de la amenaza
    							<br>
    							<b>5.</b>	Gestionar de incidentes para la visibilidad, transparencia y comunicación
    							<br>
    							<b>6.</b>	Automatización continua y mejora de los procesos para optimizar la operación</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
<!--finSeccion4-info -->
<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="remediacion">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
					<h3>Remediación de Vulnerabilidades y Eliminación de Malware</h3>
					<br>
					<p>La administración de actualizaciones es vital para un negocio. Las brechas de seguridad de red son más comúnmente causadas por la falta de actualizaciones en la red. Nuestro servicio escanea y detecta vulnerabilidades en la red antes de que queden expuestas, reduciendo el tiempo necesario para actualizar los equipos de su red. Plataformas Microsoft ®, Mac® OS X®, Linux® y más de 60 aplicaciones de terceros, y despliega tanto actualizaciones de seguridad como otras actualizaciones. Rápido escáner de vulnerabilidades, gestión de parches para todo Microsoft y mas de 1500 aplicaciones de terceros, Inventario de activos (Software / Hardware) descubrimiento de red / Incluyendo recursos compartidos / Carpetas escondidas, auditoría de red y manejo de cambios, análisis de riesgo y conformidad en multiplataformas (MS, Linux, MacOS), Reportes.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema-reme">
							<img src="../images/esquema-staff.png">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion3-info -->
<!--InicioSeccion5-suggest-->
	<section class="infoback w100" style="background: #e7e7e7; padding-top: 25px;">
		<article class="suggestions-title">
			<div class="moar">
				<h3>Otros Servicios</h3>
			</div>
		</article>
		<article class="suggestions-services w100">
			<div class="left-suggest">
				<div class="suggest1info">
					<h3>Seguridad de la Red</h3>
					<br>
					<p>La era de la informaci&oacute;n ha llegado y es importante que usted proteja la suya. Somos expertos en <b>seguridad de la informaci&oacute;n</b> y le ayudamos a <b>analizar sus defensas para identificar amenazas y hacer un blindaje de su red</b>.</p>
				</div>
				<div class="botonmore">
					<a href="Seguridad de la Red.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
			</div>
			<div class="right-suggest">
				<div class="suggest2info">
					<h3>Servicios de DataCenter</h3>
					<br>
					<p>Gracias a nuestro avanzado <b>Metropolitan Data Center</b> podemos ofrecer lo mejor en servicios cloud, servidores virtuales, continuidad de negocio (DRP), custodia de medios y colocaci&oacute;n.</p>
				</div>
				<div class="botonmore">
					<a href="Servicios de DataCenter.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
		</article>
	</section>
<!--finSeccion5-suggest-->
<!-- Start-Contacto -->
	<div id="contactscroll" style="background:#e7e7e7; width:100%; padding:1.5%; float:left;"></div>
	<div id="contact" class="contact">
		<div class="container" id="contact1">
			<div class="contact-grids">
				<div class="col-md-8">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Cont&aacute;ctenos</h3>
						<label>No se puede predecir, se prepara.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>EL SALVADOR</h2>
									<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-right-grid">
									<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
									<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>
										GUATEMALA <br>
										4. Avenida 7-83, <br>
										Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
										Nivel 
									</p>
								</div>
								<div class="col-md-3">
									<p>COSTA RICA<br>
										750 mts Oeste <br>
										Restaurante Tony <br>
										Romas Escazu
										</p>
								</div>
								<div class="col-md-3">
										<p>NICARAGUA <br>
										Centro comercial <br>Managua <br>
										Modulo C-70
										</p>
								</div>
								<div class="col-md-3">
									<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4  expertice-right-grid7  wow fadeInRight" id="close_right" data-wow-delay="0.4s">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
			<div class="container" id="contact2">
				<div class="contact-grids">
					<div class="col-md-12">
						<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
							<h3>Cont&aacute;ctenos</h3>
							<label>No se puede predecir, se prepara.</label>
							<div class="contact-left-grids">
								<div class="col-md-6">
									<div class="contact-left-grid">
										<h2>EL SALVADOR</h2>
										<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-right-grid">
										<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
										<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-3">
										<p>
											GUATEMALA <br>
											4. Avenida 7-83, <br>
											Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
											Nivel 
										</p>
									</div>
									<div class="col-md-3">
										<p>COSTA RICA<br>
											750 mts Oeste <br>
											Restaurante Tony <br>
											Romas Escazu
										</p>
									</div>
									<div class="col-md-3">
										<p>NICARAGUA <br>
											Centro comercial <br>Managua <br>
											Modulo C-70
										</p>
									</div>
									<div class="col-md-3">
										<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--Footer-->
				<section class="finfooter w100" style="background: black; float: left;">
					<article class="infofooter w100">
						<div class="imgfooter">
							<br>

						</div>
						<p class="text-center w100"><a href="#">DataGuard Group - 2017</a></p>
					</article>
				</section>
				<!--- derechos_reservados_angel_cotto -->
				<div class="copy-right text-center">

					<script type="text/javascript">
						$(document).ready(function() {

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>
			<!-- End-Contacto -->	
       </body>
</html>