<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Seguridad de la Red</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link rel="stylesheet" type="text/css" href="../css/riivera.css"/>
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
	<!-- Menu1 -->
		<div class="navbar navbar-inverse pdd1 navbar-fixed-top" role="navigation" id="pdd00">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr scroll" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
				</div>
			</div>
			<div class="navbar-collapse collapse pdb2" >
				<ul class="nav navbar-nav">
				<li><a href="../index.html">Inicio</a></li>
					<li><a href="Nosotros.html">Nosotros</a></li>
					<li class="dropdown">
						<a href="#" class="active">Soluciones</a> 
						<div class="dropdown-content">
							<a href="Servicios de DataCenter.html">Servicios de Data Center</a>
							<a href="Outsourcing.html">Outsourcing de IT</a>
							<a href="Consultoria de Gestion de Riesgo.html">Consultor&iacute;a en Gesti&oacute;n de Riesgo</a>
						</div>
					</li>
					<li> <a href="Noticias.html">Noticias</a></li>
					<li><a href="#contactscroll" class="scroll">Contacto</a> </li>
				</ul>
			</div>
		</div>
	<!-- Fin-Menu1 -->
	<!-- Menu2 -->
		<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
			</div>
			<div class="collapse navbar-collapse pdd3" id="nav-main">
				<ul class="nav navbar-nav">
					<a href="../index.html"><li>Inicio</li></a>
					<a href="Nosotros.html"><li>Nosotros</li></a>
					<a href="Servicios de DataCenter.html"><li>Servicios de DataCenter</li></a>
					<a href="Outsourcing.html"><li>Outsourcing de IT</li></a>
					<a href="Consultoria de Gestion de Riesgo.html"><li>Consultor&iacute;a en Gesti&oacute;n de Riesgo</li></a>
					<a href="Noticias.html"><li>Noticias</li></a>
					<a href="#contactscroll" class="scroll"><li>Contacto</li></a> 
				</ul>
			</div>
		</div>
<!-- Fin-Menu2 -->
<!--Seccion1-StartPortada-->
<header class="portada">
	<section class="imgportadasecurity w100">
		<article class="infoportada w100">
			<div class="titulocompany">
				<h3>Seguridad de la Red</h3>
				<br>
				<p><a href="#hacking" class="scroll">Análisis y Remediación de Vulnerabilidades</a></p>
				<p><a href="#transacciones" class="scroll">Seguridad de Transacciones Financieras (HSM)</a></p>
				<p><a href="#bases" class="scroll">Seguridad Para Bases de Datos, Archivos y Sitio Web</a></p>
				<p><a href="#banca" class="scroll">Soluciones de Autenticación Multifactor Para Banca en Línea</a></p>
				<p><a href="#firma" class="scroll">Soluciones de Encriptamiento y Firma Digital</a></p>
			</div>	
		</article>
	</section>
</header> 
<!--FinSeccion1-EndPortada-->
<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
			<div class="left-info-company">
				<div class="datosinfo">
					<div class="left-info-cuadro-rojo">
						<div class="cuadro-rojo" style="background: #ff9018">
							<p>Ofrecemos sistemas y productos criptográficos de alta seguridad y fiabilidad para su aplicación en: Banca, Medios de Pago, Defensa y Administración Publica e Industrial.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<p>La era de la información ha llegado y es importante que usted proteja la suya. Somos expertos en seguridad de la información y le ayudamos a analizar sus defensas para identificar amenazas y hacer un buen blindaje de su red.</p>
					</div>
				</div>
			</div>	
		</article>
	</section>
<!--finSeccion2-info -->
<section class="infoback" style="background: #e7e7e7" id="hacking">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
					<h3>Análisis y Remediación de Vulnerabilidades</h3>
					<br>
					<p>Consiste en un ataque dirigido y controlado hacia componentes de infraestructura tecnológica para revelar malas configuraciones y vulnerabilidades explotables. Adicionalmente, nuestro servicio escanea, detecta y remedia vulnerabilidades en la red antes de que queden expuestas. Metodología de rápido escaneo de vulnerabilidades, gestión de parches para Microsoft y más de 1500 aplicaciones de terceros, Inventario de activos (Software / Hardware) descubrimiento de red / Incluyendo recursos compartidos / Carpetas escondidas, auditoría de red y manejo de cambios, análisis de riesgo y conformidad en multiplataformas (MS, Linux, MacOS), Reportes.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema">
							<img src="../images/esquema-staff.png">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion3-info -->
<!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="transacciones">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema-transacciones">
    						<img src="../images/headhunting.jpg">
    					</div>
    				</div>
    			</div>
    		</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2">
    						<h3>Seguridad de Transacciones Financieras (HSM)</h3>
    						<br>
    						<p>Utilizando equipos HSM (hardware security module) brindamos servicios para el almacenamiento seguro de claves y el procesamiento, descarga criptográfica / aceleración, una amplia gestión de claves, almacenamiento de claves dentro de HSM o como archivos cifrados clave, múltiples opciones de autenticación de usuario y control de acceso, una tarjeta inteligente para la autenticación fuerte. Integraciones con aplicaciones PKI, cifrado de base de datos, etc. Certificación FIPS 140-2 Level 3, Physical Security Level 4*, PCI HSM (w/ 3rd party firmware application.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
<!--finSeccion4-info -->
<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="bases">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
					<h3>Seguridad Para Bases de Datos, Archivos y Sitio Web</h3>
					<br>
					<p>Auditoría y Protección de las Bases de Datos Críticas, auditoría de todos los accesos a información restringida, alerta y bloque a los ataques a las bases de datos y las actividades no autorizadas relacionadas con las bases de datos, en tiempo real. Es la única solución de protección total de la información y de conformidad de los recursos confidenciales, tanto web como de base de datos y archivos.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema-bases">
							<img src="../images/esquema-staff.png">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion3-info -->
<!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="banca">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema-banca">
    						<img src="../images/headhunting.jpg">
    					</div>
    				</div>
    			</div>
    		</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2">
    						<h3>Soluciones de Autenticación Multifactor Para Banca en Línea</h3>
    						<br>
    						<p>Una solución de seguridad integrada (hardware, software y servicios  especializados de consultoría), robusta y amigable, que le permita a la  institución en simples pasos, configurar los factores de autenticación para blindar el acceso de clientes/usuarios. Además de fortalecer la confianza en las entidades reguladoras  locales e internacionales para realizar procesos seguros, bien sea con  transacciones bancarias y/o procesos internos de medios de pago  (crédito/débito), para banca en línea.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
<!--finSeccion4-info -->
<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="firma">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
						<h3>Soluciones de Encriptamiento y Firma Digital</h3>
						<br>
						<p>Permiten garantizar Identidad (No permitir Suplantación), resguardar la Integridad, no repudio o no rechazo en origen. Ventajas de la firma electrónica, eliminación del archivo físico, ahorro en consumo de papel, garantiza la seguridad y autenticidad de los documentos, optimización de tiempos en la gestión documental, permite que los usuarios puedan utilizar los documentos de manera simultánea.
						<br>
						Brindamos seguridad y confiabilidad a los procesos de digitalización de documentos, y firma de documentos digitalizados, ya sea en lotes o de forma individual. Para firmar un documento se aplica sobre el mismo una función resumen (Función Hash) para obtener su valor hash, que no es más que una síntesis del documento. Para generar la firma digital, empleando algoritmos de cifrado se encripta el hash con la clave privada del signatario.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema-reme">
							<img src="../images/esquema-staff.png">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion6-info   -->
	<section class="infoback w100" style="background: #e7e7e7">
		<article class="suggestions-title">
			<div class="moar">
				<h3>Otros Servicios</h3>
			</div>
		</article>
		<article class="suggestions-services w100">
			<div class="left-suggest">
				<div class="suggest1info">
					<h3>Outsourcing de IT</h3>
					<br>
					<p>Una de nuestras especialidades es el <b>servicio de outsourcing</b> que incluye <b>staffing de personal t&eacute;cnico, soporte multiplataforma (SUN, IBM, HP, CISCO) y servicios administrados</b> como el monitoreo.</p>
				</div>
				<div class="botonmore">
					<a href="Outsourcing.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
			</div>
			<div class="right-suggest">
				<div class="suggest2info">
					<h3>Consultor&iacute;a en Gesti&oacute;n de Riesgo</h3>
					<br>
					<p>Ofrecemos consultor&iacute;as profesionales en la gesti&oacute;n de riesgos de su empresa. <b>La planificaci&oacute;n, administraci&oacute;n y las certificaciones de la empresa son algunas de nuestras fortalezas</b></p>
				</div>
				<div class="botonmore">
					<a href="Consultoria de Gestion de Riesgo.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
		</article>
	</section>
	<!-- Start-Contacto -->
	<div id="contactscroll" style="background:#e7e7e7; width:100%; padding:1.5%; float:left;"></div>
	<div id="contact" class="contact">
		<div class="container" id="contact1">
			<div class="contact-grids">
				<div class="col-md-8">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Cont&aacute;ctenos</h3>
						<label>No se puede predecir, se prepara.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>EL SALVADOR</h2>
									<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-right-grid">
									<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
									<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>
										GUATEMALA <br>
										4. Avenida 7-83, <br>
										Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
										Nivel 
									</p>
								</div>
								<div class="col-md-3">
									<p>COSTA RICA<br>
										750 mts Oeste <br>
										Restaurante Tony <br>
										Romas Escazu
										</p>
								</div>
								<div class="col-md-3">
										<p>NICARAGUA <br>
										Centro comercial <br>Managua <br>
										Modulo C-70
										</p>
								</div>
								<div class="col-md-3">
									<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4  expertice-right-grid7  wow fadeInRight" id="close_right" data-wow-delay="0.4s">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
			<div class="container" id="contact2">
				<div class="contact-grids">
					<div class="col-md-12">
						<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
							<h3>Cont&aacute;ctenos</h3>
							<label>No se puede predecir, se prepara.</label>
							<div class="contact-left-grids">
								<div class="col-md-6">
									<div class="contact-left-grid">
										<h2>EL SALVADOR</h2>
										<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-right-grid">
										<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
										<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-3">
										<p>
											GUATEMALA <br>
											4. Avenida 7-83, <br>
											Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
											Nivel 
										</p>
									</div>
									<div class="col-md-3">
										<p>COSTA RICA<br>
											750 mts Oeste <br>
											Restaurante Tony <br>
											Romas Escazu
										</p>
									</div>
									<div class="col-md-3">
										<p>NICARAGUA <br>
											Centro comercial <br>Managua <br>
											Modulo C-70
										</p>
									</div>
									<div class="col-md-3">
										<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--Footer-->
				<section class="finfooter w100" style="background: black; float: left;">
					<article class="infofooter w100">
						<div class="imgfooter">
							<br>

						</div>
						<p class="text-center w100"><a href="#">DataGuard Group - 2017</a></p>
					</article>
				</section>
				<!--- derechos_reservados_angel_cotto -->
				<div class="copy-right text-center">

					<script type="text/javascript">
						$(document).ready(function() {

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>
			<!-- End-Contacto -->		
       </body> 
</html>