<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Servicios de DataCenter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Bootstrap core JavaScript -->
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
	<!-- Menu1 -->
		<div class="navbar navbar-inverse pdd1 navbar-fixed-top" role="navigation" id="pdd00">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr scroll" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
				</div>
			</div>
			<div class="navbar-collapse collapse pdb2" >
				<ul class="nav navbar-nav">
				<li><a href="../index.html">Inicio</a></li>
					<li><a href="Nosotros.html"> Nosotros</a></li>
					<li class="dropdown">
						<a href="#" class="active">Servicios</a> 
						<div class="dropdown-content">
							<a href="Outsourcing.html">Outsourcing de IT</a>
							<a href="Seguridad de la Red.html">Seguridad de la Red</a>
							<a href="Consultoria de Gestion de Riesgo.html">Consutlor&iacute;a en Gesti&oacute;n de Riesgo</a>
						</div>
					</li>
					<li> <a href="Noticias.html">Noticias</a></li>
					<li><a href="#contactscroll" class="scroll">Contacto</a> </li>
				</ul>
			</div>
		</div>
	<!-- Fin-Menu1 -->
	<!-- Menu2 -->
		<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
			</div>
			<div class="collapse navbar-collapse pdd3" id="nav-main">
				<ul class="nav navbar-nav">
					<a href="../index.html"><li>Inicio</li></a>
					<a href="Nosotros.html"><li>Nosotros</li></a>
					<a href="Outsourcing.html"><li>Outsourcing de IT</li></a>
					<a href="Seguridad de la Red.html"><li>Seguridad de la Red</li></a>
					<a href="Consultoria de Gestion de Riesgo.html"><li>Consutlor&iacute;a en Gesti&oacute;n de Riesgo</li></a>
					<a href="Noticias.html"><li>Noticias</li></a>
					<a href="#contactscroll" class="scroll"><li>Contacto</li></a> 
				</ul>
			</div>
		</div>
	<!-- Fin-Menu2 -->
	<!--Seccion1-StartPortada-->
	<header class="portada">
		<section class="imgportadahardware w100">
			<article class="infoportada w100">
				<div class="titulocompany">
					<h3>Servicios de DataCenter</h3>
				<br>
				<p><a href="#brp" class="scroll">Backup Recovery Plan</a></p>
				<p><a href="#drp" class="scroll">Disaster Recovery Plan</a></p>
				<p><a href="#servidores" class="scroll">Servidores Virtuales</a></p>
				<p><a href="#colocation" class="scroll">Colocation</a></p>
				<p><a href="#custodia" class="scroll">Custodia de Merios y Cintas Magn&eacute;ticas</a></p>
				</div>	
			</article>
		</section>
	</header> 
	<!--FinSeccion1-EndPortada-->
	<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
		<div class="left-info-company">
			<div class="datosinfo">
				<div class="left-info-cuadro-rojo">
					<div class="cuadro-rojo" style="background: #ff9018">
						<p>Ubicado en la torre II del edificio World Trade Center. El edificio cuenta con seguridad perimetral 24 horas con guardias armados que controlan todos los accesos al edificio. Adicionalmente, hay un circuito cerrado de televisi&oacute;n en todo el edificio.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<p>Gracias a nuestro avanzado Metropolitan DataCenter podemos ofrecer lo mejor en servicios cloud, servidores virtuales, continuidad de negocio (DRP), custodia de medios y colocation.</p>
		</div>
		</article>
	</section>
	<!--finSeccion2-info -->

	<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="brp">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
		<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
					<h3>Backup Recovery Plan</h3>
					<br>
					<p>Nuestra oferta incluye un sistema de generaci&oacute;n de respaldos utilizando nuestra plataforma BeSafe. Se instala un agente liviano en los servidores a proteger y se programan tareas de respaldo de acuerdo a las politicas establecidas por la compa&ntilde;&iacute;a</p>
					</div>
				</div>
			</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<div class="img-esquema">
						<img src="../images/IMG_3540.jpg">
				</div>
				</div>
		</div>
		</div>
		</article>
	</section>
	<!--finSeccion3-info -->
    <!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="drp">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema">
    						<img src="../images/networking-img.jpg">
    					</div>
    				</div>
    			</div>
    			</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2" style="padding-top:0%;">
    					<h3>Disaster Recovery Plan</h3>
					<br>
					<p>El DRP ofrecido tiene como base el sistema BRP con el soporte de un sistema de servidores de aplicaciones y base de datos en la modalidad de f&iacute;sico o virtualizado.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
	<!--finSeccion4-info -->
		<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="servidores">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
		<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
				<h3>Servidores Virtuales</h3>
					<br>
					<p>Le proveemos acceso a una infraestructura de la m&aacute;s alta calidad y robustez en nuestro DataCenter.</p>
					</div>
				</div>
			</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<div class="img-esquema">
						<img src="../images/storage-img.jpg">
				</div>
				</div>
		</div>
		</div>
		</article>
	</section>
	<!--finSeccion3-info -->
	    <!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="colocation">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema">
    							<img src="../images/rentals-img.jpg">
    					</div>
    				</div>
    			</div>
    			</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2" style="padding-top:0%;">
    				<h3>Colocation</h3>
					<br>
					<p>Arrendamiento de espacios para servidores, desde una <q>u</q> hasta un rack completo. Oficinas para contunuidad de negocios.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
	<!--finSeccion4-info -->
		<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="custodia">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
		<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
				<h3>Custodia de Cintas y Medios Magn&eacute;ticos</h3>
					<br>
					<p>Almacenamiento en ambiente controlado y en cintotecas especialmente dise&ntilde;adas con control de temperatura y humedad.</p>
					</div>
				</div>
			</div>
		<div class="right-info-company">
			<div class="datosinfo">
			<div class="txtp">
				<div class="img-esquema">
						<img src="../images/storage-img.jpg">
				</div>
				</div>
		</div>
		</div>
		</article>
	</section>
	<!--finSeccion3-info -->
		<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
	<!--inicioseccion8-sugest-->
	<section class="infoback w100" style="background: #e7e7e7">
		<article class="suggestions-title">
			<div class="moar">
				<h3>Otros Servicios</h3>
			</div>
		</article>
		<article class="suggestions-services w100">
			<div class="left-suggest">
				<div class="suggest1info">
					<h3>Consultor&iacute;a en Gesti&oacute;n de Riesgo</h3>
					<br>
					<p>Ofrecemos consultor&iacute;as profesionales en la gesti&oacute;n de riesgos de su empresa. <b>La planificaci&oacute;n, administraci&oacute;n y las certificaciones de la empresa son algunas de nuestras fortalezas</b></p>
				</div>
				<div class="botonmore">
					<a href="Consultoria de Gestion de Riesgo.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
			</div>
			<div class="right-suggest">
				<div class="suggest2info">
					<h3>Outsourcing de IT</h3>
					<br>
					<p>Una de nuestras especialidades es el <b>servicio de outsourcing</b> que incluye <b>staffing de personal t&eacute;cnico, soporte multiplataforma (SUN, IBM, HP, CISCO) y servicios administrados</b> como el monitoreo.</p>
				</div>
				<div class="botonmore">
					<a href="Outsourcing.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
		</article>
	</section>
	<!--finSeccion8-suggest-->
<!-- Start-Contacto -->
	<div id="contactscroll" style="background:#e7e7e7; width:100%; padding:1.5%; float:left;"></div>
	<div id="contact" class="contact">
		<div class="container" id="contact1">
			<div class="contact-grids">
				<div class="col-md-8">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Cont&aacute;ctenos</h3>
						<label>No se puede predecir, se prepara.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>EL SALVADOR</h2>
									<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-right-grid">
									<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
									<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>
										GUATEMALA <br>
										4. Avenida 7-83, <br>
										Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
										Nivel 
									</p>
								</div>
								<div class="col-md-3">
									<p>COSTA RICA<br>
										750 mts Oeste <br>
										Restaurante Tony <br>
										Romas Escazu
										</p>
								</div>
								<div class="col-md-3">
										<p>NICARAGUA <br>
										Centro comercial <br>Managua <br>
										Modulo C-70
										</p>
								</div>
								<div class="col-md-3">
									<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4  expertice-right-grid7  wow fadeInRight" id="close_right" data-wow-delay="0.4s">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
			<div class="container" id="contact2">
				<div class="contact-grids">
					<div class="col-md-12">
						<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
							<h3>Cont&aacute;ctenos</h3>
							<label>No se puede predecir, se prepara.</label>
							<div class="contact-left-grids">
								<div class="col-md-6">
									<div class="contact-left-grid">
										<h2>EL SALVADOR</h2>
										<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-right-grid">
										<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
										<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-3">
										<p>
											GUATEMALA <br>
											4. Avenida 7-83, <br>
											Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
											Nivel 
										</p>
									</div>
									<div class="col-md-3">
										<p>COSTA RICA<br>
											750 mts Oeste <br>
											Restaurante Tony <br>
											Romas Escazu
										</p>
									</div>
									<div class="col-md-3">
										<p>NICARAGUA <br>
											Centro comercial <br>Managua <br>
											Modulo C-70
										</p>
									</div>
									<div class="col-md-3">
										<p>HONDURAS <br>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--Footer-->
				<section class="finfooter w100" style="background: black; float: left;">
					<article class="infofooter w100">
						<div class="imgfooter">
							<br>

						</div>
						<p class="text-center w100"><a href="#">DataGuard Group - 2017</a></p>
					</article>
				</section>
				<!--- derechos_reservados_angel_cotto -->
				<div class="copy-right text-center">

					<script type="text/javascript">
						$(document).ready(function() {

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>
			<!-- End-Contacto -->	
       </body>
</html>