<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Servicios de DataCenter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<link rel="stylesheet" type="text/css" href="../css/JuanMa.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="../css/full-slider.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="../images/favicon.ico">
	<!-- Bootstrap core JavaScript -->
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!----start-top-nav-script---->
<script>
$(function() {
	var pull 		= $('#pull');
	menu 		= $('nav ul');
	menuHeight	= menu.height();
	$(pull).on('click', function(e) {
		e.preventDefault();
		menu.slideToggle();
	});
	$(window).resize(function(){
		var w = $(window).width();
		if(w > 320 && menu.is(':hidden')) {
			menu.removeAttr('style');
		}
	});
});
</script>
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
</head>
<body>
<!-- Menu1 -->
		<div class="navbar navbar-inverse pdd1 navbar-fixed-top" role="navigation" id="pdd00">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr scroll" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" />
				</div>
			</div>
			<div class="navbar-collapse collapse pdb2" >
				<ul class="nav navbar-nav">
				<li><a href="../index.html">Inicio</a></li>
					<li><a href="Nosotros.html"> Nosotros</a></li>
					<li class="dropdown">
						<a href="#" class="active">Soluciones</a> 
						<div class="dropdown-content">
							<a href="Outsourcing.html">Outsourcing de IT</a>
							<a href="Seguridad de la Red.html">Seguridad de la Red</a>
							<a href="Consultoria de Gestion de Riesgo.html">Consultor&iacute;a en Gesti&oacute;n de Riesgo</a>
						</div>
					</li>
					<li> <a href="Noticias.html">Noticias</a></li>
					<li><a href="#contactscroll" class="scroll">Contacto</a> </li>
				</ul>
			</div>
		</div>
<!-- Fin-Menu1 -->
<!-- Menu2 -->
		<div class="navbar  pdd1 navbar-inverse navbar-static-top" role="navigation" id="menusmart">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand cursorr" style="margin-right:5%;" onclick="window.location = '../index.html'"><img class="resize" src="../images/logo_dataguard.png" /></div>
			</div>
			<div class="collapse navbar-collapse pdd3" id="nav-main">
				<ul class="nav navbar-nav">
					<a href="../index.html"><li>Inicio</li></a>
					<a href="Nosotros.html"><li>Nosotros</li></a>
					<a href="Outsourcing.html"><li>Outsourcing de IT</li></a>
					<a href="Seguridad de la Red.html"><li>Seguridad de la Red</li></a>
					<a href="Consultoria de Gestion de Riesgo.html"><li>Consultor&iacute;a en Gesti&oacute;n de Riesgo</li></a>
					<a href="Noticias.html"><li>Noticias</li></a>
					<a href="#contactscroll" class="scroll"><li>Contacto</li></a> 
				</ul>
			</div>
		</div>
<!-- Fin-Menu2 -->
<!--Seccion1-StartPortada-->
<header class="portada">
	<section class="imgportadadata w100">
		<article class="infoportada w100">
			<div class="titulocompany">
				<h3>Servicios de DataCenter</h3>
				<br>
				<p><a href="#brp" class="scroll">Backup as a Service</a></p>
				<p><a href="#drp" class="scroll">Recovery as a Service</a></p>
				<p><a href="#replicacion" class="scroll">Replication as a Service</a></p>
				<p><a href="#infraestructura" class="scroll">Infrastructure as a Service</a></p>
				<p><a href="#colocation" class="scroll">Colocation</a></p>
				<p><a href="#resguardo" class="scroll">Resguardo de Medios Magn&eacute;ticas</a></p>
			</div>	
		</article>
	</section>
</header> 
<!--FinSeccion1-EndPortada-->
<!--InicioSeccion2-info -->
	<section class="infoback" style="background: #e7e7e7">
		<article class="w100">
			<div class="left-info-company">
				<div class="datosinfo">
					<div class="left-info-cuadro-rojo">
						<div class="cuadro-rojo" style="background: #ff9018">
							<p>Ubicado en la torre II del edificio World Trade Center. El edificio cuenta con seguridad perimetral 24 horas con guardias armados que controlan todos los accesos al edificio. Adicionalmente, hay un circuito cerrado de televisi&oacute;n en todo el edificio.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<p>Gracias a nuestro avanzado Metropolitan DataCenter podemos ofrecer lo mejor en servicios cloud, servidores virtuales, continuidad de negocio (DRP), custodia de medios y colocation.</p>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion2-info -->
<!--InicioSeccion3-info -->
	<section class="infoback" style="background: #e7e7e7" id="brp">
	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
						<h3>Backup as a Service</h3>
						<br>
						<p>Utilizando nuestra plataforma de respaldos y almacenamiento,  se instala un agente liviano en los servidores a proteger y se programan tareas de respaldo de  acuerdo a las políticas establecidas por el cliente, a ser realizadas en nuestros servidores de contingencia. 
						<br>
						Ante un evento de falla, en que el servidor de  base de datos o las aplicaciones del cliente pasen a un  estado de indisponibilidad, se activan las tareas de  recuperación de los datos almacenados en nuestros servidores. Luego de corregir la causa de la falla, se procede a recuperar la información a partir del último respaldo que se almacenó en la plataforma de back up.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema-brp">
							<img src="../images/backup.jpg">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion3-info -->
<!--InicioSeccion4-info -->
    <section class="infoback" style="background: #e7e7e7" id="drp">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema-recovery">
    						<img src="../images/recovery.jpg">
    					</div>
    				</div>
    			</div>
    			</div>
    			<div class="right-info-company">
    				<div class="left-info-cuadro-rojo">
    					<div class="staffing-info2" style="padding-top:0%;">
    					<h3>Recovery as a Service</h3>
					<br>
					<p>El Recovery as a Service tiene como base el sistema de Backup as a Service descrito anteriormente con el soporte de Infraestructura como Servicio para alojar los servidores (incluido sus aplicaciones) de manera temporal.
					<br> 
					Se realiza una tarea de restauración hacia los servidores  virtualizados o físicos a partir de los backups almacenados en la  plataforma. En caso de desastre, se realiza una restauración hacia los  servidores virtuales utilizando el último respaldo realizado  al ambiente de producción. El tráfico de transacciones de los usuarios se redirecciona  al servidor de contingencia. Esto puede hacerse por  medio de Internet o por enlaces dedicados.</p>
    					</div>
    				</div>
    			</div>
    	</article>
    </section>
<!--finSeccion4-info -->
<!--InicioSeccion5-info -->
	<section class="infoback" style="background: #e7e7e7" id="replicacion">
		<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
						<h3>Replication as a Service</h3>
						<br>
						<p>El servicio de replicación, permite replicar datos en un entorno de servidor a servidor generando la disponibilidad inmediata de la información, al mantener en otro servidor copias de los datos que se actualicen de forma automática y  continua. La redundancia que se produce es crucial durante una falla catastrófica de los servicios, por mantenimiento del sistema (ya sea planeado o no planeado) o en caso de una falla de su sitio principal. 
						<br>
						Los servidores del cliente replican en el data center de Dataguard por medio de un software de réplica, y en vista de que están en línea, que en caso de falla los usuarios se conectan al servidor de réplica, de manera transparente e inmediata.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema-replicacion">
							<img src="../images/replication.jpg">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion5-info -->
<!--InicioSeccion6-info -->
    <section class="infoback" style="background: #e7e7e7" id="infraestructura">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema-infraestructura">
    							<img src="../images/infraestructura.jpg">
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="right-info-company">
    			<div class="left-info-cuadro-rojo">
    				<div class="staffing-info2" style="padding-top:0%;">
    					<h3>Infrastructure as a Service</h3>
						<br>
						<p>Le proveemos acceso a una infraestructura virtual de la  más alta calidad y robustez en nuestro data center,  con una amplia gama de capacidad de cómputo en  servidores de acuerdo a la necesidad del cliente.
						<br>
						Ofrecemos servidores virtuales en ambiente Windows y Linux.  Servicio de storage y back up de sus servidores.</p>
    				</div>
    			</div>
    		</div>
    	</article>
    </section>
<!--finSeccion6-info -->
<!--InicioSeccion7-info -->
	<section class="infoback" style="background: #e7e7e7" id="colocation">
		<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
		<article class="w100">
			<div class="left-info-company"  style="padding-top:2% !important;">
				<div class="left-info-cuadro-rojo">
					<div class="staffing-info">
						<h3>Colocation</h3>
						<br>
						<p>Arrendamiento de espacios  para servidores, desde una “u”  hasta un rack completo. Oficinas para continuidad de  negocios y albergar personal del cliente en caso de desastres.</p>
					</div>
				</div>
			</div>
			<div class="right-info-company">
				<div class="datosinfo">
					<div class="txtp">
						<div class="img-esquema">
							<img src="../images/colocation.jpg">
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion7-info -->
<!--InicioSeccion8-info -->
	<section class="infoback" style="background: #e7e7e7" id="resguardo">
    	<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
    	<article class="w100">
    		<div class="left-info-company">
    			<div class="datosinfo">
    				<div class="txtp">
    					<div class="img-esquema">
    						<img src="../images/rentals-img.jpg">
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="right-info-company">
    			<div class="left-info-cuadro-rojo">
    				<div class="staffing-info2" style="padding-top:0%;">
    					<h3>Resguardo de Medios Magnéticos</h3>
						<br>
						<p>Los medios magnéticos requieren un lugar apropiado para su almacenamiento. Almacenamos sus cintas en  un ambiente controlado, en cintotecas y cajas fuertes especialmente  diseñadas para este fin. Adicionalmente transportamos sus cintas en maletas especiales para su debida protección.</p>
    				</div>
    			</div>
    		</div>
    	</article>
    </section>
<!--finSeccion8-info -->
<div style="background:#e7e7e7; width:100%; padding:2%; float:left;"></div>
<!--inicioseccion9-sugest-->
	<section class="infoback w100" style="background: #e7e7e7">
		<article class="suggestions-title">
			<div class="moar">
				<h3>Otros Servicios</h3>
			</div>
		</article>
		<article class="suggestions-services w100">
			<div class="left-suggest">
				<div class="suggest1info">
					<h3>Consultor&iacute;a en Gesti&oacute;n de Riesgo</h3>
					<br>
					<p>Ofrecemos consultor&iacute;as profesionales en la gesti&oacute;n de riesgos de su empresa. <b>La planificaci&oacute;n, administraci&oacute;n y las certificaciones de la empresa son algunas de nuestras fortalezas</b></p>
				</div>
				<div class="botonmore">
					<a href="Consultoria de Gestion de Riesgo.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
			</div>
			<div class="right-suggest">
				<div class="suggest2info">
					<h3>Outsourcing de IT</h3>
					<br>
					<p>Una de nuestras especialidades es el <b>servicio de outsourcing</b> que incluye <b>staffing de personal t&eacute;cnico, soporte multiplataforma (SUN, IBM, HP, CISCO) y servicios administrados</b> como el monitoreo.</p>
				</div>
				<div class="botonmore">
					<a href="Outsourcing.html" class="paramas"><img src="../images/moreimg2.svg"></a>
				</div>
			</div>
		</article>
	</section>
<!--finSeccion9-suggest-->
<!-- Start-Contacto -->
	<div id="contactscroll" style="background:#e7e7e7; width:100%; padding:1.5%; float:left;"></div>
	<div id="contact" class="contact">
		<div class="container" id="contact1">
			<div class="contact-grids">
				<div class="col-md-8">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Cont&aacute;ctenos</h3>
						<label>No se puede predecir, se prepara.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>EL SALVADOR</h2>
									<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. San Salvador, El Salvador
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-right-grid">
									<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
									<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>GUATEMALA <br>
									4. Avenida 7-83, <br>
									Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
									Nivel. Guatemala
									</p>
								</div>
								<div class="col-md-3">
									<p>COSTA RICA<br>
									750 mts Oeste <br>
									Restaurante Tony <br>
									Romas Escazu. Costa Rica
									</p>
								</div>
								<div class="col-md-3">
									<p>NICARAGUA <br>
									Centro comercial <br>Managua <br>
									Modulo C-70. Nicaragua
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4  expertice-right-grid7  wow fadeInRight" id="close_right" data-wow-delay="0.4s">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="container" id="contact2">
			<div class="contact-grids">
				<div class="col-md-12">
					<div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
						<h3>Cont&aacute;ctenos</h3>
						<label>No se puede predecir, se prepara.</label>
						<div class="contact-left-grids">
							<div class="col-md-6">
								<div class="contact-left-grid">
									<h2>EL SALVADOR</h2>
									<p>Paseo General <br>Escal&oacute;n y Calle <br>Arturo Ambrogi No.137<br> Colonia Escal&oacute;n. San Salvador, El Salvador 
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-right-grid">
									<p><span class="c-msg"> </span><a href="#">info@dataguardgroup.com</a></p>
									<p><span class="c-face"></span><a href="https://www.facebook.com/Dataguardgroup">facebook.com/Dataguardgroup</a></p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-3">
									<p>GUATEMALA <br>
									4. Avenida 7-83, <br>
									Zona 10, Plaza <br>Ciudad Vieja, 2do. <br>
									Nivel. Guatemala 
									</p>
								</div>
								<div class="col-md-3">
									<p>COSTA RICA<br>
									750 mts Oeste <br>
									Restaurante Tony <br>
									Romas Escazu. Costa Rica
									</p>
								</div>
								<div class="col-md-3">
									<p>NICARAGUA <br>
									Centro comercial <br>Managua <br>
									Modulo C-70. Nicaragua
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--FOOTER-->
	<section class="finfooter w100" style="background: black; float: left;">
		<article class="infofooter w100">
			<div class="imgfooter">
				<br>
			</div>
			<p class="text-center w100"><a href="#">DataGuard Group - 2017</a></p>
		</article>
	</section>
<!--derechos_reservados_angel_cotto-->
		<div class="copy-right text-center">
			<script type="text/javascript">
				$(document).ready(function() {

					$().UItoTop({ easingType: 'easeOutQuart' });

				});
			</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		</div>
<!-- End-FOOTER -->	
       </body>
</html>